/* === TITLE SECTION === */
.title-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  max-width: var(--xl-box);
  margin: 0 auto var(--v-space-lg);
}

.title-box {
  max-width: 510px;
}

h1 {
  color: var(--neutral-900);
  font-weight: 900;
  margin: 1.3rem 0;
}

.up-title {
  color: var(--neutral-900);
  font-weight: bold;
  display: block;
  background-color: var(--orange-500);
  border-radius: 6px;
  width: fit-content;
  padding: 0 7px;
}

.last-title-p {
  margin: 1.3rem 0 0 0;
}

.title-box p {
  color: var(--neutral-600);
  font-weight: 500;
}

.title-img-small {
  display: none;
}

.title-img-wrapper {
  position: relative;
  z-index: 0;
  overflow: visible;
}

.title-img-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../assets/images/pattern-squiggle-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 100px;
  top: 57%; /* légèrement en dessous du centre */
  right: -410px; /* dépasse de 50% de la div vers la droite */
  z-index: 25; /* au-dessus des images */
}

.title-img-wrapper img {
  border-radius: 16px;
  object-fit: cover;
}

/* === LIST SECTION === */
.about-list-wrapper {
  max-width: var(--xl-box);
  margin: 0 auto 96px;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}

.why-we-exist {
  border-bottom: 2px solid var(--neutral-300);
  border-top: 2px solid var(--neutral-300);
}

.our-philosophy {
  border-bottom: 2px solid var(--neutral-300);
}

.about-list-wrapper h2 {
  font-weight: 800;
  color: var(--neutral-900);
  max-width: 372px;
}

h3 {
  font-weight: 700;
  color: var(--neutral-900);
}

.about-list-wrapper p {
  color: var(--neutral-600);
}

.icon-list {
  max-width: 755px;
}

.about-list-wrapper li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 1rem;
}

.about-list-wrapper li::before {
  content: "";
  position: absolute;
  top: 0.35em;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../assets/images/icon-bullet-point.svg") no-repeat center /
    contain;
}

/* === BEYOND THE PLATE SECTION === */
.beyond {
  max-width: var(--xl-box);
  margin: 0 auto var(--v-space-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.beyond-txt {
  max-width: 376px;
}

.beyond-txt h2 {
  color: var(--neutral-900);
  font-weight: 800;
  margin-bottom: 20px;
}

.beyond-txt p {
  margin-bottom: 20px;
}

.beyond-txt p {
  color: var(--neutral-600);
  font-weight: 600;
}

.beyond-txt ul {
  margin-left: 2.2rem;
}

.beyond-txt li {
  list-style: inside;
  list-style-position: outside;
  color: var(--neutral-600);
  font-weight: 400;
  margin: 8px 0;
}

.beyond-img img {
  border-radius: 16px;
}

.beyond-img-small {
  display: none;
}

/* === RESPONSIVE DESIGN === */

@media (max-width: 1024px) {
  .title-banner {
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    max-width: var(--l-box);
  }

  .about-list-wrapper {
    max-width: var(--l-box);
    margin: 0 auto 80px;
  }

  .list-flex {
    padding: 80px 0;
    flex-direction: column;
  }

  .about-list-wrapper h2 {
    max-width: fit-content;
    margin-bottom: 42px;
  }

  .about-list-wrapper li {
    margin-bottom: 1.5rem;
  }

  .beyond {
    max-width: var(--l-box);
    margin: 0 auto var(--v-space-s);
    flex-direction: column;
    align-items: baseline;
    gap: 40px;
  }

  .beyond-txt {
    max-width: 650px;
  }
}

@media (max-width: 800px) {
  .title-banner {
    margin: 0 auto var(--v-space-s);
    gap: 2rem;
  }

  .title-img-lg {
    display: none;
  }

  .title-img-small {
    display: block;
  }

  .about-list-wrapper {
    max-width: var(--l-box);
    margin: 0 auto 48px;
  }

  .list-flex {
    padding: 48px 0;
  }

  .beyond-img-small {
    display: block;
  }

  .beyond-img-lg {
    display: none;
  }

  .title-img-wrapper::after {
    display: none;
  }
}
