/* === TITLE BOX === */
.recipes-title-box {
  text-align: center;
  margin-bottom: 64px;
}

.recipes-title-box h1 {
  color: var(--neutral-900);
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.recipes-title-box p {
  color: var(--neutral-600);
  font-weight: 600;
  max-width: 724px;
  margin: auto;
}

/* === RECIPES SEARCH BAR === */
.recipes-sort-bar {
  max-width: var(--xl-box);
  display: flex;
  align-items: center;
  margin: 0 auto 5rem;
  gap: 1.5rem;
}

.cooking-time-wrapper,
.prep-time-menu-wrapper {
  position: relative;
}

.prep-time-menu-title,
.cooking-time-menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--neutral-0);
  border-radius: 10px;
  width: 181px;
  height: 47px;
  cursor: pointer;
}

.prep-time-menu,
.cooking-time-menu {
  border: 1px solid var(--neutral-300);
  background-color: var(--neutral-0);
  padding: 0.5rem 0;
  border-radius: 8px;
  display: none;
  margin-top: 0.5rem;
  position: absolute;
  z-index: 15;
  width: 240px;
}

.cooking-time-menu {
  z-index: 16;
}

.visible {
  display: block;
}

.prep-time-menu button,
.cooking-time-menu button {
  width: 100%;
  margin: 3px 0;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;
  padding-left: 1rem;
  font-weight: 600;
}

.val-circle {
  width: 16px;
  height: 16px;
  border: 1px solid var(--neutral-300);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-border {
  border: 1px solid var(--neutral-900);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--neutral-900);
}

/* === RECIPES FORM=== */
#myForm {
  position: relative;
  margin-left: auto;
  display: block;
}
#ingredient {
  border: none;
  height: 47px;
  padding-left: 40px;
  border-radius: 10px;
  width: 310px;
  display: block;
}

#myForm img {
  position: absolute;
  z-index: 14;
  bottom: 50%;
  left: 10px;
  transform: translateY(50%);
}

/* === RECIPES GRID === */
.recipes-grid {
  max-width: var(--xl-box);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  border-bottom: 2px solid var(--neutral-300);
  padding-bottom: 96px;
}

.recipe-wrapper {
  background-color: var(--neutral-0);
  border-radius: 16px;
  padding: 7px;
  max-width: 376px;
}

.recipe-wrapper img {
  border-radius: 16px;
}

.recipe-img-small {
  display: none;
}

.recipe-view {
  width: 100%;
  border-radius: 999px;
  background-color: var(--neutral-900);
  height: 48px;
  color: var(--neutral-0);
  transition: background-color 0.3s;
}

.recipe-wrapper .recipe-view:hover {
  background-color: var(--neutral-600);
}

.recipe-title,
.recipe-info-txt {
  color: var(--neutral-900);
  font-weight: bold;
}

.recipe-detail {
  color: var(--neutral-600);
  font-weight: 500;
}

.recipe-title {
  margin: 1rem 0 0.5rem;
}

.recipe-infos {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 15px;
}

.recipe-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 7px;
}

.recipe-info-2 {
  margin-inline: 1.5rem;
}

/* === RESPONSIVE DESIGN === */
@media (max-width: 1024px) {
  .recipe-wrapper {
    max-width: 100%;
    padding: 15px;
  }
  .prep-time-menu-wrapper,
  .cooking-time-wrapper,
  .prep-time-menu-title,
  .cooking-time-menu-title,
  #myForm,
  #ingredient {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .recipes-grid {
    padding-bottom: 40px;
  }

  .recipes-sort-bar {
    flex-direction: column;
    gap: 10px;
  }

  #myForm {
    margin-left: 0;
  }

  #ingredient {
    margin-inline: auto;
  }
  .recipe-img-small {
    display: block;
  }
  .recipe-img-lg {
    display: none;
  }
  .recipe-wrapper {
    padding: 7px;
  }
}
