/* === TITLE BOX === */
.recipes-title-box {
  text-align: center;
  margin-bottom: 64px;
}

.recipes-title-box h1 {
  color: var(--neutral-900);
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.recipes-title-box p {
  color: var(--neutral-600);
  font-weight: 600;
  max-width: 724px;
  margin: auto;
}

/* === RECIPES SEARCH BAR === */
.recipes-sort-bar {
  max-width: var(--xl-box);
  display: flex;
  align-items: center;
  margin: 0 auto 5rem;
  gap: 1.5rem;
}

.cooking-time-wrapper,
.prep-time-menu-wrapper {
  position: relative;
}

.prep-time-menu-title,
.cooking-time-menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--neutral-0);
  border-radius: 10px;
  width: 181px;
  height: 47px;
  cursor: pointer;
}

.prep-time-menu,
.cooking-time-menu {
  border: 1px solid var(--neutral-300);
  background-color: var(--neutral-0);
  padding: 0.5rem 0;
  border-radius: 8px;
  display: none;
  margin-top: 0.5rem;
  position: absolute;
  z-index: 15;
  width: 240px;
}

.cooking-time-menu {
  z-index: 16;
}

.visible {
  display: block;
}

.prep-time-menu button,
.cooking-time-menu button {
  width: 100%;
  margin: 3px 0;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;
  padding-left: 1rem;
  font-weight: 600;
}

.val-circle {
  width: 16px;
  height: 16px;
  border: 1px solid var(--neutral-300);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-border {
  border: 1px solid var(--neutral-900);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--neutral-900);
}

/* === RECIPES FORM=== */
#myForm {
  position: relative;
  margin-left: auto;
}
#myForm input {
  border: none;
  height: 47px;
  padding-left: 40px;
  border-radius: 10px;
  width: 310px;
}

#myForm img {
  position: absolute;
  z-index: 14;
  bottom: 50%;
  left: 10px;
  transform: translateY(50%);
}

